:root {
  --light: #fcfcfc;
  --light-bis: #f4f1ea;
  --green: #417764;
  --green-50: #41776480;
  --green-light: rgba(65, 119, 100, 0.07);
  --light-grey: #9fa6a0;
  --grey: #737373;
  --dark: #0d0d0d;
  --icon-font: "Material Symbols Outlined";
}