.c-logo {
  &.header {
    img {
      width: auto;
      height: 72px;
    }
  }
  &.footer {
    display: flex;
    align-items: center;
    img {
      width: 180px;
      height: auto;
    }
  }
}