.page {
  padding: 105px 0 0;

  section {
    .l-rl {
      padding: 0 50px;
    }
  }
}

.l-product, .l-cart {
  .l-tb {
    padding: 45px 0 0;
  }
}

.l-product_slug {
  .l-tb {
    padding: 45px 0 50px;
  }
}
#l-s0.l-checkout,#l-s0.l-cart {
  .l-rl {
    padding: 0 135px;
  }
  .l-tb {
    padding: 45px 0 ;
  }
}
.l-related_products {
  .l-tb {
    padding: 50px 0 0;
  }
}